body {
  margin: 0;
  padding: 0;
}

.descr {
  background-color: #f5f5f5;
  font-family: sans-serif;
  padding: 30px;
}

.content {
  padding: 30px;
}

.task {
  width: 100%;
  margin-bottom: 17rem;
}

.task__item {
  background-color: aqua;
  width: 200px;
  height: 200px;
  width: 100%;
}

.task__item:nth-child(2) {
  background-color: lightgrey;
}

.task__item:nth-child(3) {
  background-color: magenta;
}

/* Ваш код для task-1 */

.task-1 {
  font-size: 0;
}

.task-1 .task__item {
  border: 10px solid black;
  box-sizing: border-box;
  display: inline-block;
  width: calc( 100% / 3);
}

/* Ваш код для task-2 */

.task-2 .task__item {
  border: 10px solid black;
  box-sizing: border-box;
  float: left;
  width: calc( 100% / 3);
}

.task-2:after {
  content: "";
  display: block;
  clear: both;
}

/* Ваш код для task-3 */

.task-3 {
  margin-right: 0;
  display: table;
}

.task-3 .task__item {
  border: 10px solid black;
  box-sizing: border-box;
  width: calc( 100% / 3);
  display: table-cell;
}

/* Ваш код для task-4 */

.task-4 {
  display: flex;
}

.task-4 .task__item {
  border: 10px solid black;
  box-sizing: border-box;
  width: calc( 100% / 3);
}

/* Ваш код для task-5 */

.task-5 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.task-5 .task__item {
  border: 10px solid black;
  box-sizing: border-box;
}
